/* Add quotation character before quote */
blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

mark3 {
  background-color: yellow;
  color: black;
}

mark2 {
  background-color: red;
  color: white;
}

h3 {
  font-size: 1em;

}